/**** FONTS ****/

@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-ThinLC.otf);
    font-weight:300;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-ExtraLightLC.otf);
    font-weight:200;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-LightLC.otf);
    font-weight:300;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-LC.otf);
    font-weight:400;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-MediumLC.otf);
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-SemiBoldLC.otf);
    font-weight:600;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-BoldLC.otf);
    font-weight:700;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-ExtraBoldLC.otf);
    font-weight:800;
    font-style: normal;
}
@font-face {
    font-family: "THUNDER";
    src: url(../fonts/Thunder-BlackLC.otf);
    font-weight:900;
    font-style: normal;
}
