// FOOTER
footer{
    background: $gradient-bg;
    .footer{
        display: grid;
        grid-template-areas: "category category category category logofoot logofoot"
        "policy policy policy policy logofoot logofoot";
        align-items: center;
        padding: 50px 0;
        margin: 0 auto !important;
        .logo {
            grid-area: logofoot;
            .ptext{
                color: $primaryColor;
                font-family: "THUNDER", "Helvetica Neue", Arial, Helvetica, sans-serif;
                font-weight: 800;
                font-size: 60px;
                display: block;
                margin-bottom: -20px;
                writing-mode: vertical-rl;
                text-orientation: upright;
            }
            .stext{
                color: $primaryColor;
                display: none;
            }
        }
        h3{
            color: $primaryColor;
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 2.5px;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .categories{
            grid-area: category;
            margin-bottom: 20px;
        }
        .support{
            display: none;
        }
        .policy{
            grid-area: policy;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            font-size: 18px;
            letter-spacing: 2.5px;
            font-weight: 300;
            line-height: 1;
            li a{
                text-decoration: none;
                color: $primaryColor;
            }
        }
    }
    .copyright{
        text-align: center;
        font-size: 12px;
        padding-bottom: 20px;
        color: $primaryColor;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        margin: 0 50px;
    }
}