
///////////////////////////////////////////////////////////
/////////////          MEDIA QUERIES          /////////////
///////////////////////////////////////////////////////////

// container
@each $k, $v in $breakpoints{
    @media screen and (min-width:#{$v}){
        .container{
            width: 100%;
            max-width: #{map-get($max-width-container,$k)};
            margin: 100px auto;
        }
    }
}

@media screen and (min-width: 768px){
    // header 
    header {
        padding: 0;
        .header {
            display: grid;
            grid-template-areas: "logo logo nav nav nav nav nav nav nav nav icons icons";
            align-items: center;
            margin: 0 auto;
            .logo {
                font-size: 40px;
            }
            nav {
                display: block;
                grid-area: nav;
                justify-self: center;
                ul {
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 1.5px;
                    padding: 0;
                    margin: 10px 0;
                    li {
                        display: inline-block;
                        padding: 10px 15px;
                        transition: 300ms;
                        &.active {
                            font-weight: 600;
                        }
                        a {
                            text-decoration: none;
                            color: $primaryColor;
                            padding: 0 5px;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -3px;
                                width: 0%;
                                height: 1px;
                                background-color: $primaryColor;
                                transition: 500ms cubic-bezier(.75, 0, .25, 1);
                                z-index: -1;
                            }
                        }
                        &:hover {
                            transition: 300ms;
                            transform: translateY(-5px);
                            -webkit-transform: translateY(-5px);
                            -moz-transform: translateY(-5px);
                            -o-transform: translateY(-5px);
                            a:before {
                                width: 100%;
                                transition: 500ms cubic-bezier(.75, 0, .25, 1);
                            }
                        }
                    }
                }
            }
            .icons {
                grid-area: icons;
                justify-self: end;
                display: flex;
                align-items: center;
                .burger {
                    display: none;
                    width: 25px;
                    grid-area: nav;
                    justify-self: center;
                }
                .shoppingcart {
                    width: 30px;
                    margin-left: 20px;
                    padding: 4px;
                }
                .user {
                    width: 30px;
                    margin-left: 20px;
                }
            }
            
        }
    }

    // footer
    footer{
        .footer {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 50px 0;
            margin: 0 auto;
            align-items: start;
            .logo {
                grid-column: 1/3;
                .ptext {
                    font-family: "THUNDER", "Helvetica Neue", Arial, Helvetica, sans-serif;
                    font-weight: 800;
                    font-size: 100px;
                    display: block;
                    margin-bottom: -20px;
                    writing-mode: horizontal-tb;
                }
                .stext {
                    font-weight: 300;
                    font-size: 21px;
                    display: block;
                    line-height: 0.9;
                    letter-spacing: 5px;
                }
            }
            div:not(.logo){
                h3 {
                    font-size: 31px;
                    font-weight: 500;
                    letter-spacing: 2.5px;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    padding-left: 10px;
                    font-size: 21px;
                    letter-spacing: 2.5px;
                    font-weight: 300;
                    line-height: 1;
                    li a {
                        text-decoration: none;
                        color: $primaryColor;
                    }
                }
            }
            .categories {
                display: block;
                grid-column: 3/4;
                grid-area: initial;
            }
            .support {
                display: block;
                grid-column: 4/5;
                grid-area: initial;
            }
            .policy {
                display: block;
                grid-column: 5/6;
                grid-area: initial;
            }
        }
        .copyright {
            font-size: 14px;
            margin: 0;
        }
    }


    // top section
    .top-sect {
        background: $gradient-bg;
        padding-bottom: 100px;
        .hero {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
            font-size: 26px;
            font-weight: 300;
            overflow-x: hidden;
            .content{
                z-index: 0;
                h1 {
                    font-size: 230px;
                    margin: 0;
                    padding: 0;
                    margin-bottom: -50px;
                }
                span{
                    color: $primaryColor;
                    font-size: 32px;
                    letter-spacing: 5px;
                }
            }
            img {
                position: absolute;
            }
            .equity-esculpture {
                right: 2.5%;
                bottom: 0;
                width: 36%;
                filter: brightness(1.2);
                z-index: 0;
                opacity: 1 !important;
            }
            .woman-esculpture {
                left: 0;
                bottom: 0;
                width: 26%;
                filter: brightness(1.2);
                display: block;
            }
            .cloud {
                top: 25%;
                left: 22.5%;
                width: 20%;
                filter: brightness(1.1);
            }
        }
        #prod-sect{
            h2 {
                font-size: 62px;
            }
            .products{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                text-align: left;
                gap: 50px;
                flex: 75%;
                .prod{
                    background-color: $secondaryColor;
                    border: 1px solid $primaryColor;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .content{
                        padding: 15px;
                        color: $primaryColor;
                        h3{
                            font-size: 24px;
                            margin: 10px 0px;
                            margin-right: 50px;
                            padding: 0;
                        }
                    }
                }
            }
            .seemoreprod{
                font-size: 21px;
                margin-bottom: 35px;
            }
        }
    }

    // black banner
    .black-banner {
        .container {
            flex-direction: row;
            .content {
                font-size: 21px;
                padding-right: 150px;
                h2 {
                    font-size: 62px;
                }
            }
            .banner-photo-sect {
                height: 450px;
                max-height: 450px;
                overflow: visible;
                img {
                    width: 150%;
                    margin-top: -30%;
                    margin-left: 0;
                }
            }
        }
    }

    // contact us
    .contact-us .container {
        background-image: url(../img/contact-us.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        margin: 150px auto;
        .overlay {
            padding: 75px;
        }
        h2 {
            text-align: left;
            font-size: 62px;
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            letter-spacing: 2.5px;
            font-weight: 700;
        }
        form{
            .namemail {
                flex-direction: row;
            }
        }
    }


    // shop
    #shop .products {
        grid-template-columns: repeat(2, 1fr);
        .prod{
            background-color: $secondaryColor;
            border: 1px solid $primaryColor;
            position: relative;
            .content{
                padding: 15px;
                color: $primaryColor;
                h3 {
                    font-size: 24px;
                    margin: 10px 0px;
                    margin-right: 50px;
                    padding: 0;
                }
            }
        }
    }
    // about us
    #about-us {
        .img-sect {
            height: 300px;
            margin: 100px auto 50px;
            .img-history img{
                margin-bottom: 0px;
            }
        }
        .sect1{
            flex-direction: row;
            div{
                width: 50%;
                font-size: 21px;
            }
            img{
                padding-right: 50px;
                flex:50%;
            }
            .parraf{
                padding-left: 50px;
                flex:50%;
            }
        }
    }

    // cares
    #cares{
        div:not(.hero){
            flex-direction: row;
            img{
                width: 50%;
            }
            .content{
                flex-direction: column;
                .parraf{
                    flex-direction: column;
                }
            }
            &:nth-child(3){
                img{
                    order:1;
                }
                .content{
                    order: 0;
                }
            }
        }
        .sect1 {
            flex-direction: row;
            img{
                height: auto;
                padding-right: 50px;
                margin: 0;
            }
            .parraf, a{
                padding-left: 50px;
            }
        }
        .sect2{
            img{
                height: auto;
                padding-left: 50px;
                margin: 0;
                order: 1;
            }
            .parraf, a{
                padding-right: 50px;
            }
            .content{
                order: 0;
            }
        }
    }
}

    
@media screen and (min-width: 768px) and (max-width:1150px){
    #shop .products{
        grid-template-columns: repeat(2, 1fr) !important;
        .prod{
            min-width: 0;
            width: 100%;
        }
    }
    #prod-sect .products {
        grid-template-columns: repeat(2, 1fr) !important;
        .prod{
            min-width: 0;
            width: 100%;
        }
    }
    
}
@media screen and (min-width:1150px){
    .cursor{
        display: block;
    }
}
@media screen and (min-width:1150px) and (max-width: 1480px){
    .top-sect #prod-sect .products{
        grid-template-columns: repeat(3, 1fr) !important;
        a:last-child{
                display: none;
        }
    }
    #shop .products{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media screen and (min-width: 1480px) {
    #shop {
        .shop-content{
            flex-direction: row;
            .filters{
                max-height: 100%;
                height: auto;
                overflow: hidden;
                opacity: 1;
                transition: 600ms;
                padding-right: 50px;
            }
            .products {
                grid-template-columns: repeat(4, 1fr);
                padding: 0;
                flex: 75%;
            }
        }
        #filterBtn{
            display: none;
        }
    }
    #prod-sect {
        .products {
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
        }
    }
}
    
    

